/* remove border */
.container-fluid {
  padding: 0;
}
h2 {
  margin: 0;
}
/* define max image width */
@media (max-width:1000px) {
  img {
    max-width: 100%;
    max-height: 300px;
  }
}
@media (min-width:1000px) {
  img {
    max-width: 100%;
    max-height: 800px;
  }
}
/* */
hr {
  margin-left: 10px;
  margin-right: 10px;
}
.username {
  padding-top: 15px; 
  padding-bottom: 15px; 
  color: #fff;
  font-weight: bold;
}
.nav-box {
  display: flex;
  align-items: center;
}
.nav-bar {
  display: inline-block;
  vertical-align: middle;
}
.table-thumbnail {
  max-width: 100px;
  max-height: 100px;
}
.media-content {
  max-width: 100%;
  max-height: 500px;
}
.selectize-input {
  text-align: left;
}
#questions {
  text-align: center;
}
